/* Apply a clean, modern look */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #c8c2c2;
}

.container {
    background: rgba(248, 247, 247, 0.4);
    padding: 150px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


/* Style the file upload button */
.custom-file-upload {
    display: inline-block;
    padding: 12px 20px;
    cursor: pointer;
    border: 2px solid #3498db;
    background: #fff;
    color: #3498db;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 15px;
    transition: 0.3s;
}

.custom-file-upload:hover {
    background: #3498db;
    color: white;
}

/* Hide the default file input */
input[type="file"] {
    display: none;
}

/* Style the submit button */
button {
    background: #28a745;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #218838;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}